* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
    width: 100%;
    min-height: 100vh;
    max-height: auto;
}

h1 {
    font-size: 2.6rem;
    margin-top: 20px;
}
h2 {
    font-size: 2rem;
    text-align: center;
    margin: 10px;
}
ul {
    display: flex;
    flex-direction: column;
    align-items: center;
}
li {
    height: 60px;
    width: 280px;
    list-style: none;
    font-size: 1.8rem;
    margin: 10px;
    padding: 5px;
    background-color: rgb(236, 236, 236);
    border-radius: 10px;
    display: grid;
    grid-template-columns: 30px 210px 30px;
    grid-template-rows: 30px 20px;
}
.completedButton{
    display: flex;
    margin-top: 20px;
    font-size: 2.7rem;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
li h4 {
    display: flex;
    font-size: 1.8rem;
    align-items: center;
    justify-content: center;
}
li p {
    display: flex;
    grid-column: 1/4;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
    color: rgb(161, 161, 161);
}
.deleteButton{
    display: flex;
    font-size: 2.7rem;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    cursor: pointer;
}
.openPopUp {
    width: 55px;
    height: 55px;
    margin: 10px;
    border: 2px solid rgb(194, 194, 253);
    border-radius: 50%;
    background-color: rgb(66, 66, 177);
    color: white;
    cursor: pointer;
}

.wrapper {
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 500ms;
    background-color: rgba(129, 126, 126, 0.5);
}
.popUpAdd {
    width: 300px;
    height: 180px;
    background-color: white;
    display: grid;
    border-radius: 10px;
    grid-template-columns: 35px 230px 35px;
    grid-template-rows: 30px 30px 120px;
}
.popUpAdd h3 {
    grid-row: 2/3;
    grid-column: 1/4;
    justify-self: center;
    align-self: center;
    font-size: 2rem;
}
.closePop {
    grid-column: 3/4;
    justify-self: center;
    align-self: center;
    font-size: 2rem;
}
form {
    display: grid;
    grid-column: 1/4;
    justify-self: center;
    align-self: center;
} 
form input {
    width: 140px;
    height: 40px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 1px solid black;
    text-align: center;
    font-size: 2rem;
}
form button {
    width: 140px;
    height: 30px;
    border-radius: 10px;
    border: 1px solid black;
    font-size: 1.6rem;
}

.completed {
    opacity: 0.4;
    text-decoration: line-through;
}